# ignore initial dataset
competition_package/datasets/train.parquet

# ignore virtual env dependency files

venv/
.venv/
env/
.env/

__pycache__/
*.pyc

# Virtual environment (your venv is inside source/)
source/Lib/
source/Scripts/
source/pyvenv.cfg